/*** Styling elements, for general use by Twine authors ***/

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.75em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	margin: 0.3em 0 0.6em 0;
}

pre {
	font-size: 1rem;
	/* This overrides the normal line-height of <tw-story>. */
	line-height: initial;
}

small {
	font-size: 70%;
}

big {
	font-size: 120%;
}

mark {
	color:rgba(0,0,0,0.6);
	background-color: #ff9;
}

ins {
	color:rgba(0,0,0,0.6);
	background-color: hsla(45,100%,90%,0.5); /* Yellowed correction fluid */
	border-radius:0.5em;
	box-shadow: 0em 0em 0.2em hsl(45,100%,80%);
	text-decoration:none;
}

/* Who am I to tell authors not to use non-standard tags? */

center {
	text-align:center;
	margin: 0 auto;
	width: 60%;
}

blink {
	text-decoration: none;
	animation: fade-in-out 1s steps(1,end) infinite alternate;
}

/*** Secondary text styles, used by certain markup structures ***/

tw-align {
	display:block;
}

tw-columns {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(space-between);
}
